body {
    background-color: #ff4244;
}

.header {
    text-align: center;
    color: white;
}

h2 {
    color: white;
    text-align: center;
}

summary {
    font-size: 25px;
}

.center {
    border-radius: 69px;
    background: linear-gradient(145deg, #fd1111, #f76060);
    box-shadow:  5px 5px 9px #4c3d3d,
        -5px -5px 9px #f3aaaa;
    width: 15%;
    padding-top: 30px;
    padding-left:7px;
    padding-bottom:50px;
}

#coachesB {
    background: none;
    border: none;
    font-size: 20px;
    display: inline-block;
    position: relative;
    color: #020202;
}

#coachesB::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#coachesB:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


#teamB {
    background: none;
    border: none;
    font-size: 20px;
    display: inline-block;
    position: relative;
    color: #020202;
}
#teamB::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#teamB:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#expectB {
    background: none;
    border: none;
    font-size: 20px;
    display: inline-block;
    position: relative;
    color: #020202;
}

#expectB::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#expectB:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#home {
    background: none;
    border: none;
    display: inline-block;
    position: relative;
    color: #020202;
}

#home::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#home:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


#signUp {
    background: none;
    border: none;
    display: inline-block;
    position: relative;
    color: #020202;
}

#signUp::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#signUp:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.table {
    text-align: center;
    display: flex;
    justify-content: center;
    margin:auto;
    border-radius: 69px;
    background: linear-gradient(145deg, #fd1111, #f76060);
    box-shadow:  5px 5px 9px #4c3d3d,
        -5px -5px 9px #f3aaaa;
    width: 50%;
    padding-top: 30px;
    padding-bottom:30px;
    position: fixed;
    top:25px;
    right:300px;
    top: 200px;
}